In [231]:
import pandas as pd
import numpy as np

In [232]:
df = pd.read_csv('ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [233]:
df = pd.read_table('ex1.csv')
df

  a,b,c,d,message
0   1,2,3,4,hello
1   5,6,7,8,world
2  9,10,11,12,foo

### read_table은 줄마다 읽어서 표로 만들어줌

In [234]:
df = pd.read_table('ex1.csv', sep=',')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [235]:
pd.read_csv('ex2.csv')

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [236]:
pd.read_csv('ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

### header=None 옵션: csv 파일의 맨 윗줄을 header로 쓰지 않기

In [237]:
pd.read_csv('ex2.csv', names=['a', 'b', 'c', 'd', 'message'], index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

### indexl_col이 지정한 이름이 행에 없으면 오류가 남

In [238]:
 parsed = pd.read_csv('csv_mindex.csv', index_col=['key1', 'key2'])

In [239]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [240]:
list(open('ch06/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [241]:
result = pd.read_table('ch06/ex3.txt', sep='\s+')

In [242]:
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [243]:
 pd.read_csv('ch06/ex4.csv', skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [244]:
data = pd.read_csv('ch06/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [245]:
data.to_csv('ch06/out.csv')

In [246]:
 dates = pd.date_range('1/1/2000', periods=7)

In [247]:
ts = pd.Series(np.arange(7), index=dates)

In [248]:
ts.to_csv('ch06/tseries.csv')

In [249]:
pd.read_csv('ch06/tseries.csv')

   2000-01-01  0
0  2000-01-02  1
1  2000-01-03  2
2  2000-01-04  3
3  2000-01-05  4
4  2000-01-06  5
5  2000-01-07  6

In [250]:
import csv
f = open('ch06/ex7.csv')
data = csv.reader(f)
data

In [251]:
for line in data:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3', '4']

In [252]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"},
 {"name": "Katie", "age": 33, "pet": "Cisco"}]
}
"""

In [253]:
obj

'\n{"name": "Wes",\n "places_lived": ["United States", "Spain", "Germany"],\n "pet": null,\n "siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"},\n {"name": "Katie", "age": 33, "pet": "Cisco"}]\n}\n'

In [254]:
import json

In [255]:
result = json.loads(obj)
result

{'name': 'Wes',
 'pet': None,
 'places_lived': ['United States', 'Spain', 'Germany'],
 'siblings': [{'age': 25, 'name': 'Scott', 'pet': 'Zuko'},
  {'age': 33, 'name': 'Katie', 'pet': 'Cisco'}]}

In [256]:
asjson = json.dumps(result)
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"}, {"name": "Katie", "age": 33, "pet": "Cisco"}]}'

In [257]:
from lxml.html import parse
from urllib.request import urlopen
parsed = parse(urlopen('https://finance.yahoo.com/quote/AAPL/options?ltr=1'))
doc = parsed.getroot()

In [258]:
doc

In [259]:
links = doc.findall('.//a')

In [260]:
links[23]

In [261]:
lnk = links[20]

In [262]:
lnk

In [263]:
lnk.get('href')

'/quote/AAPL/options?strike=false&straddle=false'

In [264]:
lnk.text_content()

'167.50'

In [265]:
 urls = [lnk.get('href') for lnk in doc.findall('.//a')]

In [266]:
urls[-10:]

['/',
 '/watchlists',
 '/portfolios',
 '/screener',
 '/calendar',
 '/industries',
 '/personal-finance',
 '/tech',
 '/topic/yahoo-finance-podcast',
 '/brklivestream/']

In [267]:
tables = doc.findall('.//table')
calls = tables[0]
puts = tables[1]

In [268]:
def _unpack(row, kind='td'):
 elts = row.findall('.//%s' % kind)
 return [val.text_content() for val in elts]

In [269]:
from pandas.io.parsers import TextParser

In [270]:
def parse_options_data(table):
 rows = table.findall('.//tr')
 header = _unpack(rows[0], kind='th')
 data = [_unpack(r) for r in rows[1:]]
 return TextParser(data, names=header).get_chunk()

In [271]:
call_data = parse_options_data(calls)
put_data = parse_options_data(puts)

In [272]:
call_data[:5]

,Contract Name,Last Trade Date,Strike,Last Price,Bid,Ask,Change,% Change,Volume,Open Interest,Implied Volatility
0,AAPL180803C00162500,2018-07-30 11:15AM EDT,162.5,27.35,27.45,27.80,-2.74,-9.11%,2,2,79.20%
1,AAPL180803C00167500,2018-07-30 10:18AM EDT,167.5,22.79,22.60,22.80,-1.01,-4.24%,16,101,69.48%
2,AAPL180803C00225000,2018-07-30 1:39PM EDT,225.0,0.01,0.00,0.01,0.00,-,23,125,52.34%
3,AAPL180803C00227500,2018-07-27 6:00PM EDT,227.5,0.02,0.00,0.02,0.00,-,2,0,54.69%
4,AAPL180803C00230000,2018-07-27 6:00PM EDT,230.0,0.01,0.00,0.02,0.00,-,81,0,57.81%

In [273]:
from lxml import objectify
path = 'Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

In [274]:
data = []
skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ',
 'DESIRED_CHANGE', 'DECIMAL_PLACES']
for elt in root.INDICATOR:
     el_data = {}
     for child in elt.getchildren():
         if child.tag in skip_fields:
             continue
         el_data[child.tag] = child.pyval
     data.append(el_data)

In [275]:
import io
tag = '<a href="http://www.google.com">Google</a>'
root = objectify.parse(io.StringIO(tag)).getroot()

In [276]:
root

In [277]:
root.get('href')

'http://www.google.com'

In [278]:
root.text

'Google'

In [279]:
import pickle

In [280]:
frame = pd.read_csv('ch06/ex1.csv')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [281]:
 with open('frame.txt', 'wb') as f:
    pickle.dump(frame, f)

In [282]:
with open('frame.txt', 'rb') as f:
    data = pickle.load(f) # 단 한줄씩 읽어옴

In [283]:
data

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [284]:
import sqlite3

In [285]:
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL, d INTEGER
);"""
con = sqlite3.connect(':memory:') # SQLite DB 연결
con.execute(query) #query 실행
con.commit()

In [286]:
data = [('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

In [287]:
cursor = con.execute('select * from test')

In [288]:
rows = cursor.fetchall()

In [289]:
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [290]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [291]:
pd.DataFrame(rows, columns=list(zip(*cursor.description))[0])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [292]:
import pymongo

In [293]:
username = 'davelee'
password = 'korea123'
connection = pymongo.MongoClient('mongodb://%s:%s@www.funcoding.xyz' % (username, password))

In [294]:
db = connection.test
db

Database(MongoClient(host=['www.funcoding.xyz:27017'], document_class=dict, tz_aware=False, connect=True), 'test')

In [295]:
test_collection = db.test_collection

In [296]:
test_collection

Collection(Database(MongoClient(host=['www.funcoding.xyz:27017'], document_class=dict, tz_aware=False, connect=True), 'test'), 'test_collection')

In [299]:
test_insert_collection = db.test_insert